<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chignonMignon.wallpapers.presentation.wallpaperDetails">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

</manifest>